/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/
/*grijs #899CA0*/

/*donkergroen #1C2B32*/

/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    color: #1C2B32;
    margin-top: 50px;
    margin-bottom: 50px;
}

main {
    max-width: 1000px;
    margin: auto;
}

a {
    color: #899CA0;
    text-decoration: underline;
}

a:hover {
    color: #899CA0;
    text-decoration: none;
}


/*////////////////////////
    2. Typography
////////////////////////*/
body {
    font-family: "Poppins", sans-serif;
}


/*////////////////////////
    3. Areas
////////////////////////*/



/*///////////// 3.1 Header /////////////*/

header {
    background-image: url("../assets/images/mountains.jpg");
    background-size: 100%;
    background-position: center;
    height: 900px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div {
    text-align: center;
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 50px;
    position: relative;
    bottom: 145px;

}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: #1C2B32;
}

#input-domain, #input-button {
    height: 60px;
}

#input-domain {
    border: 3px solid #1C2B32;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    padding: 18px;
    font-family: "Poppins", sans-serif;
    background: transparent;
    width: 45%;
}

#input-button {
    border: 3px solid #1C2B32;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    margin-left: -5px;
    background-color: #1C2B32;
    color: white;
    font-family: "Poppins", sans-serif;
    width: 35%;
}

input::placeholder {
    color: #1C2B32;
}

/*///////////// 3.2 Testimonial /////////////*/
article {
    border: 1px solid transparent;
    border-radius: 10px;
    width: 100%;
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.16);
    margin-bottom: 40px;
    position: relative;
}

.quote-image {
    position: absolute;
    top: 65px;
    left: 55px;
}

blockquote {
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 10%;
    margin-right: 10%;
}

.avatar-cite {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    top: 15px;
}

cite {
    font-style: italic;
    padding-left: 20px;
}

.avatar {
    max-height: 44px;
    max-width: 44px;
    position: relative;
    top: 10px;
}


/*///////////// 3.3 Support /////////////*/
img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

#contact-button {
    border: 3px solid #1C2B32;
    border-radius: 30px;
    background-color: #1C2B32;
    color: white;
    font-family: "Poppins", sans-serif;
    height: 60px;
    width: 17%;
    margin-top: 20px;
}


/*///////////// 3.4 Faq /////////////*/
details > summary {
    padding: 15px;
}

details > p {
    border: 1px solid #899CA0;
    border-radius: 10px;
    background-color: #899CA0;
    color: white;
    padding: 3%;
}

details:hover {
    cursor: pointer;
}

/*///////////// 3.5 Footer /////////////*/
#copyright {
    color: white;
    background-color: #1C2B32;
    padding: 25px;
    width: 100%;
    text-align: center;
    margin-top: 60px;
}